@font-face{
    src: url(/font/PixeloidSans-nR3g1.ttf);
    font-family: PixeloidSans-nR3g1;
}

a{
    text-decoration: none;
}

body{
    margin: 0;
    padding: 0;
    background-image: url('https://i.pinimg.com/originals/14/ea/4a/14ea4af3b03403ab4071ba17300f8b64.png');
    background-size: cover;
    background-repeat: no-repeat;

}

.title{
    display: flex;
    justify-content: center;
    font-family: 'Press Start 2P', cursive;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.backgroundimg{
    width: 600px;
    height: 400px;
}

.score{
    font-size: 25px;
    font-weight: 1000;
    font-family: 'Press Start 2P', cursive;
}


#btn{
    font-family: 'Press Start 2P', cursive;
    font-weight: 1000;
    margin-top: 25px;
    padding: 10px;
    color: black;
    text-transform: uppercase;
    border: 2px solid #000;
    border-radius: 20px 20px 20px 20px ;
    cursor: pointer;
}

.homepage{
    text-align: center;
}

#btn:hover{
    color: white;
    background-color: gray;
}

