@font-face{
    src: url(./font/PixeloidSans-nR3g1.ttf);
    font-family: PixeloidSans-nR3g1;
}

*{ 
    margin: 0px;
    padding: 0px;
}

body{
    margin: 0px;
    padding: 0px;
    line-height: 1.7;
}

li, a, button{
    text-decoration: none;
    color: black;
}

.container{ 
    position: fixed;
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 3px 2px 14px 2px rgba(0,0,0,0.16); 
    box-shadow: 0px 10px 13px -7px #000000, 3px 2px 14px 2px rgba(0,0,0,0.16);
    z-index: 2;
}

.container_left{
    align-items: center;
    flex: 2;
}

.container_medium{
    flex: 7;
}

.container_medium ul{
    margin: 0;
    padding: 0;
}

.container_medium ul li{
    
    cursor: default;
    margin-top: 10px;
    position: relative;
    display: inline-block;
    
}

.container_medium ul li a{
    position: relative;
    top: 10px;
    padding-bottom: 30px;
    display: block;
    transition: all 0.3s ease 0s;
}


.container_medium ul li ul{
    position: absolute;
    left: 0;
    top: 0px;
    border: 2px solid gray;
    border-radius: 10px 10px 10px 10px;
    margin-top: 65px;
    padding: 10px;
    width: max-content;
    background: #fff;
    display: none;
    z-index: 2;
}

.container_medium ul li ul li{
    display: flex;

}


.container_medium ul li:hover > ul{
    display: initial;
}

.container_medium div, .container_medium a{
    font-size: 14px;
    font-weight: 400;
    font-family: 'Press Start 2P', cursive;
    outline: 0;
    white-space: normal;
}

.container_medium a:hover{
    color:#0088a0;

}

.container_right{
    display: flex;
    flex: 1;
}

.container_right svg{
    padding: 10px;
    align-items: center;
    
}
.container_right div{
    padding: 5px;
    align-items: center;
    
}

.content{
    display: flex;
    max-width: 100%;
    margin-top: 40px;
    background-color: rgb(59, 52, 52);

}

.content_left{
    position: relative;
    flex: 1;
}

.content_left:hover{
    animation-name: movement;
    animation-duration: 4s;
}

@keyframes movement{
    0%   { left:0px; top:0px;}
    25%  { left:200px; top:0px;}
    50%  { left:200px; top:200px;}
    75%  { left:0px; top:200px;}
    100% { left:0px; top:0px;}
}

.level-1{
    padding-right: 30px;
}

.showphoto{
    width: 100%;
}

.loop{
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}

/* @media (max-aspect-ratio: 16/9){
    .loop{
        width: auto;
        height: 100%;
    }
} */

.level-3{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info{
    position: relative;
    height: 100vh;
    left: 25%;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text{
    font-family: PixeloidSans-nR3g1;
    font-size: 50px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.btn{
    position: relative;
    top: 10%;
    font-size: 30px;
    padding: 10px;
    border: 1px solid white;
    border-radius: 30px 30px;
    background-color: white;
}

.level-3::before{
    content:'';
    position: absolute;
    width: 100%;
    bottom: 0;
    height:200px;
    background: linear-gradient(to top, rgb(198, 183, 183), transparent);
    z-index: 1000;
}

.level-4{
    position: relative;
    height: 100vh;
    background-color: rgb(198, 183, 183);
    z-index: 1000;
}

.level-4-text{
    font-family: PixeloidSans-nR3g1;
    position: relative;
    top: 10%;
    display: flex;
    justify-content: center;
    font-size: 30px;
    color: black;
}
